/* BASIC LAYOUT*/
    html, body, .mdl-grid {
        width: 100vw;
        overflow-x: hidden;
    }

    .social {
        display: block;
        width:  130px;
        margin: auto;
    }

/* Panel Sizing */
    section {
        min-height: 100vh;
    }
    
    @media only screen and (min-width:1025px){
        section {
            min-height: 92vh;
        }
    }

/* Drawer */
    .mdl-layout__drawer .mdl-layout-title {
        padding: 30px;
        font-size: 20px;
        font-weight: bold;
    }

    .mdl-layout__drawer .mdl-navigation__link {
        font-size: 20px;
    }

    .mdl-layout__drawer-button {
        padding: 20px;
    }

    .mdl-layout__drawer-button .material-icons{
        font-size: 60px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
