
html, body, .mdl-grid {
    width: 100vw;
    overflow-x: hidden;
}

.tsa-header-section {
  background: url('../images/header.jpg') center / cover;
}

.mdl-layout__drawer-button {
    padding: 20px;
}

.mdl-layout__drawer .mdl-layout-title {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}

.mdl-layout__drawer .mdl-navigation__link {
    font-size: 20px;
}

.mdl-layout__drawer-button .material-icons{
    font-size: 60px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mdl-card__supporting-text img {
    height: 800px;
    object-position: center;
    box-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

section {
    min-height: 100vh;
}

@media only screen and (min-width:1025px){
    section {
        min-height: 92vh;
    }
    .event-card img {
        width: 100%;
        height: 50%;
    }
}
@media only screen and (max-width:1024px){
    .event-card img {
        width: 100%;
        height: 50%;
    }
}
.tsa-header-navbar {
    background-color: white;
    box-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    height:8vh;
}
.tsa-header-logo {
  background: url('../images/logo.png') center / contain no-repeat;
  display: block;
  margin: auto;
  width: 60%;
  height: 60%;
}

.tsa-header .mdl-layout__drawer,
.tsa-header .mdl-navigation__link,
.tsa-header .mdl-layout__header-row {
  color: black;
  text-shadow: -1px 0 white, 0 2px white, 1px 0 white, 0 -1px white;

  font-weight: bold;
}

.section-a {
    background-color: whitesmoke;
    color: darkslategray;
}

.section-b{
    background-color: darkslategray;
    color: whitesmoke;
}

#events {
    display: none;
}

.event-card {
    display: block;
    width: 100%;
    margin: auto;
}